
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Venda")'">Cadastrar venda</button>

